.hash1 {
	color: #000;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: inline-block;
padding: 0px 0px 0px 75px;
}
.hash2 {
	color: #000;
	font-family: Roboto;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	display: inline-block;
	padding: 0px 0px 0px 75px;
}
.hash3 {
	color: #000;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: inline-block;
padding: 0px 0px 0px 75px;
}
.hash4 {
	color: #000;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: inline-block;
padding: 0px 0px 0px 75px;
}
.imiji1 {
	display: inline-block;
	width: 32px;
	height: 32px;
	padding: 10px 0px 0px 75px;
}
.hash5 {
	color: #000;
font-family: Roboto;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 100px 0px 0px 70px;
}
.imiji6 {
	width: 362px;
height: 186px;
flex-shrink: 0;
padding: 0px 0px 0px 70px;
display: inline-block;
}
.header {
	position: fixed;
}
.imiji7 {
	width: 362px;
height: 186px;
padding: 0px 0px 0px 30px;
display: inline-block;
}
.imiji8 {
	width: 362px;
height: 186px;
padding: 0px 0px 0px 30px;
display: inline-block;
}
.imiji9 {
	display: inline-block;
	padding: 0px 0px 0px 70px;
}
.body {
	background-color: #F1F1F1;
}
.imiji10 {
	display: inline-block;
	padding: 0px 0px 0px 30px;
}
.imiji11 {
	display: inline-block;
	padding: 0px 0px 0px 32px;
}
.hash6 {
	color: #000;
font-family: Roboto;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding: 0px 0px 0px 70px;
}
.imiji12 {
	width: 758px;
height: 430px;
padding: 0px 0px 0px 70px;
display: inline-block;
}
.imiji13 {
width: 362px;
height: 212px;
display: inline-block;
padding: 0px 0px 0px 30px;
vertical-align: top;
}
.imiji14 {
width: 758px;
height: 430px;
display: inline-block;
padding: 40px 0px 0px 70px;
vertical-align: top;
}
.imiji15 {
	width: 362px;
height: 212px;
display: inline-block;
padding: 0px 0px 0px 30px;
vertical-align: top;
}
.imiji16 {
width: 362px;
height: 212px;
display: inline-block;
padding: 0px 0px 0px 870px;
vertical-align: middle;
}
.footer {
	background-color: #243043;
}
.pi{
	color: #818687;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: inline-block ;
padding: 0px 0px 0px 70px;

}
 .pi0 {
 		color: #818687;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: inline-block ;
padding: 0px 0px 0px 30px; 
 }
 .pi1 {
 	 		color: #818687;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: inline-block ;
padding: 0px 0px 0px 30px; 
 }
 .pi2 {
 	 		color: #818687;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: block;
padding: 0px 0px 0px 70px; 
 }
 .pi3 {
color: #818687;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: inline-block ;
padding: 0px 0px 0px 30px;
 }
 .pi4 {
 	color: #818687;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: inline-block ;
padding: 0px 0px 0px 30px;
 }
 .pi5 {
 	color: #818687;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: block ;
padding: 0px 0px 0px 70px;
 }
 .pi6 {
 	color: #818687;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: inline-block ;
padding: 0px 0px 0px 70px;
 }
 .pi7 {
 	color: #818687;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: inline-block ;
padding: 0px 0px 0px 70px;
 }
 .pi8 {
 	color: #818687;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
display:block ;
padding: 0px 0px 0px 70px;
 }
 .pi9 {
 	color: #818687;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: inline-block ;
padding: 0px 0px 0px 70px;
 }
 .pi10 {
 	color: #818687;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: inline-block ;
padding: 0px 0px 0px 70px;
 }
 .imiji17 {
 	padding: 0px 0px 0px 500px;
 }